/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.color-primary {
  color: #e55473;
}
/* banner section styles */
.banner-section {
  width: 100vw;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
}

.banner-header {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
  margin-bottom: 32px;
  margin-top: 197px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 635px;
  margin-bottom: 32px;
}
.banner-img {
  width: 635px;
}
/* hot section styles */
.hot-section {
  height: 620px;
  width: 100vw;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hot-content {
  text-align: center;
}
.hot-header {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.hot-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin-bottom: 32px;
}
.hot-img {
  width: 318px;
}
/* instagram section */
.instagram-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-bottom: 24px;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin: 0 auto;
}
