/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.color-primary {
  color: #e55473;
}
/* banner section styles */
.banner-section {
  width: 100vw;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
}

.banner-header {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
  margin-bottom: 32px;
  margin-top: 197px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 635px;
  margin-bottom: 32px;
}
.banner-img {
  width: 635px;
}
/* hot section styles */
.hot-section {
  height: 620px;
  width: 100vw;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hot-content {
  text-align: center;
}
.hot-header {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.hot-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin-bottom: 32px;
}
.hot-img {
  width: 318px;
}
/* instagram section */
.instagram-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-bottom: 24px;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin: 0 auto;
}
/* flower section */
.flower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 24px;
}
.img-flower {
  width: 342px;
  height: 396px;
}
/* latest section */
.latest-section {
  display: flex;
  justify-content: center;
  padding-bottom: 128px;
}
.latest-container {
  width: 1440px;
  height: 449px;
  background-image: url("./asset/Rectangle9.png");
}
.latest-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 16px;
  margin-top: 122px;
}
.latest-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 231px;
  margin: 0 auto;
}
.input-latest {
  padding: 22px 513px 22px 22px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  margin-top: 48px;
  margin-left: 287px;
  margin-right: 16px;
  border-radius: 8px;
}
/* footer section styles */
footer {
  width: 100vw;
  height: 449px;
  background-color: #111010;
  padding-top: 128px;
}
.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 624px;
  margin: 0 auto 32px;
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  max-width: 355px;
  margin: 0 auto;
}
/* feature section styles */
.feature-texts {
  padding-top: 178px;
  padding-bottom: 48px;
}
.feature-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 594px;
  margin: 0 auto;
}
